{% load static %}
<!DOCTYPE html>
<html lang="ru">
 <head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
 </head>
 <body class="article">
    <div class="header">
        <img src="{% static 'img/dpb-logo.png' %}" alt="Логотип" />
    </div>
    
    <div class="article">
        <a href="{% url 'archive' %}" class="back-link">← Все записи</a>
        
        <h1 class="post-title">{{ post.title }}</h1>
        
        <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created-date">{{ post.created_date }}</div>
        </div>
        
        <div class="article-full-text">
            {{ post.text }}
        </div>
    </div>
 </body>
</html>